*.aux
*.acn
*.acr
*.alg
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.dvi
*.glsdefs
*.nav
*.vrb
*.xdy
*.snm
*.pdf
*.*~
*.glo
*.idx
*.log
*.toc
*.ist
*.aux
*.backup
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.ps
*.snm
*.toc
*.vrb
*.xdy
*.synctex.gz
*~
